/*
OVERALL
*/

body {
	-webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -o-transition: all 600ms;
    -ms-transition: all 600ms;
    transition: all 600ms;

    background: url("../images/aboutImages/betaidaho.jpg") repeat center fixed;
	background-size: cover;
}

/*
ABOUT US SECTION
*/

#aboutus {
	height: 495px;
	background: white;
	text-align: center;
	color: #252525
}

#aboutus h1 {
	font-size: 40px;
	font-family: 'Lora';
	margin-bottom: 50px;
}

#aboutusnav {
	padding-top: 60px;
	padding-bottom: 20px;
	margin: 0 209px;
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
}

#aboutusnav p {
	font-size: 20px;
	line-height: 40px;
	font-family: 'Raleway';
}

#aboutusnav h3 {
	border-top: 1px solid grey;
	padding-top: 20px;
	margin-top: 60px;
}

#aboutusnav h3 span {
	font-family: 'Raleway';
	font-size: 26px;
	cursor: pointer;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 28px;
	padding-left: 28px;
	border-right: 1px solid grey;
	border-left: 1px solid grey;

	transition: background-color 0.5s ease;
}

#aboutusnav h3 span:hover {
	background-color: dimgrey;
	color: white;
  	cursor: pointer;
}

.aboutusinfo {
	font-family: 'Raleway';
	font-size: 18px;
	margin: 0px 150px;
	line-height: 40px;
}

.aboutblock {
	height: 500px;
	background: white;
	text-align: center;
	color: #252525;
}

.aboutblock h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 28px;
}

.aboutblock p {
	font-size: 18px;
	line-height: 37px;
}

#founderstext {
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 15px;
	font-family: 'Lora';
}

#paterquote {
	margin-top: 20px;
	font-family: 'Lora';
}

.push-down-arrow {
	color: white;
	text-shadow: 0px 0px 5px rgba(25,25,25,0.8);
}

#aboutarrowtop {
	margin-top: 40px;
}

#aboutarrowmiddle {
	margin-top: 45px;
}

.push-down-arrow p {
	font-size: 20px;
}

.push-down-arrow:hover {
	color: dimgrey;
	cursor: pointer;
}

