/*
OVERALL
*/

body {
  background: white;
  color: #252525;
}

/*
EXECUTIVE BOARD
*/

#execboard {
	margin-left: 22px;
	height: 100%;
}

#execboard h1 {
	font-size: 30px;
	margin: 85px 0px 0px 200px;
}

#execboard div p {
	margin-top: 30px;
	margin-left: 75px;
	font-family: 'Raleway';
	font-size: 18px;
	line-height: 28px;
}

#execboard div h2 span {
	font-size: 16px;
	color: dimgrey;
	font-weight: 600;
}

.execPreview {
	height: 250px;
	width: 250px;
	border-radius: 100em;
}

.execHeader {
	font-family: 'Raleway';
	margin-bottom: 15px;
	font-size: 20px;
	margin-left: 75px;
	font-weight: 600;
}

.execDiv {
	margin-top: 50px;
	margin-left: 200px;
	margin-right: 200px;
	height: 300px;
	border-bottom: 1px solid grey;
}

.title-description {
	margin-left: 275px;
	padding-top: 3px;
}

.special-border {
	border: none;
}
