/*
OVERALL
*/

body {
	background-color: white;
}

/*
RUSH INFO SECTION
*/

.top-image {
	width: 100%;
	padding: 60px 0px 60px 0px;
	background: rgba(0, 0, 0, 0.5);
}

#imagerow {
	width: 100%;
	background-color: white;
	overflow: hidden;
    white-space: nowrap;
}

#imagerow img {
	height: 100px;
}

#rushinfo {
	width: 100%;
	height: auto;
	background: white;
}

#rushinfo img {
	height: 400px;
}

#rushinfo h1 {
	font-size: 24px;
	color: #252525;
	float: left;
}

#rushinfo p {
	font-size: 20px;
	font-family: 'Raleway';
	color: #252525;
	line-height: 35px;
}

#rushinfo a {
	text-decoration: none;
	color: white;
	background-color: dimgrey;
	padding: 10px 10px;
	margin-top: 10px;

	transition: background-color 0.5s ease;
}

#rushinfo a:hover {
	background-color: black;
}

#rushinterest {
	text-align: right;
}

#rushinterest img {
	float: left;
	margin-top: 72px;
}

#rushinterest h1 {
	margin-top: 70px;
	float: right;
}

#rushinterest p {
	padding-top: 40px;
	margin-bottom: 50px;
	margin-left: 50px;
	float: left;
	width: 500px;
}

#rushbeta {
	margin-bottom: -50px;
}

#rushbeta img {
	float: right;
}

#rushbeta h1 {
	float: left;
}

#rushbeta p {
	padding-top: 50px;
	margin-right: 50px;
	float: right;
	width: 575px;
}

.rushcontainer {
	width: 90%;
	margin: 0 auto;
	height: 550px;
}
