/*
OVERALL
*/

body {
	background: url("../images/recruitmentImages/pc15.jpg") repeat center fixed;
	background-size: cover;
}

/*
RUSH INFO SECTION
*/

.cloudy-image {
	background: rgba(0, 0, 0, 0.5);
}

#imagerow {
	width: 100%;
	background-color: white;
	overflow: hidden;
    white-space: nowrap;
}

#imagerow img {
	height: 100px;
}

.rushinfo {
	width: 100%;
	height: auto;
	background: white;
}

.rushinfo h1 {
	font-size: 24px;
	color: #252525;
	float: left;
}

.rushinfo p {
	font-size: 20px;
	font-family: 'Raleway';
	color: #252525;
	line-height: 35px;
}

.rushinfo a {
	text-decoration: none;
	color: white;
	background-color: dimgrey;
	padding: 10px 10px;
	margin-top: 10px;

	transition: background-color 0.5s ease;
}

.rushinfo a:hover {
	background-color: black;
}

.rushcontainer {
	width: 90%;
	margin: 0 auto;
	height: 560px;
}

.rushcontainer img {
	float: left;
	margin-top: 72px;
	height: 400px;
	width: 700px;
}

.rushcontainer h1 {
	margin-top: 60px;
	float: right;
}

.rushcontainer p {
	padding-top: 35px;
	margin-bottom: 50px;
	margin-left: 50px;
	float: left;
	width: 475px;
}
