<!DOCTYPE html>
<html lan="en">

	<head>

	    <meta charset="UTF-8">

	    <link rel="stylesheet" href="../css/reset.css" media="screen" type="text/css" />
	    <link rel="stylesheet" href="../css/style.css" media="screen" type="text/css" />
	    <link rel="stylesheet" href="../css/about.css" media="screen" type="text/css" />

	    <title>About Beta | Gamma Gamma</title>
	    <link rel="icon" href="../images/betacoat.png">

	    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">

	  </head>

	<body>

	    <header>
	      <a href="../index.html">
	        <div id="logodiv" class="fixedElement"><img src="../images/betacoat.png" id="logo"><h1 class="fixedElementHide hide">BETA THETA PI</br>GAMMA GAMMA</h1></div>
	      </a>
	      <div>
	        <div id="menuNavBar" class="fixedElement">
	          <ul>
	            <li><a href="../index.html">Home</a></li>
	            <li><a href="../views/meet.html">Meet Us</a></li>
	            <li><p class="">About Beta</p></li>
	            <li><a href="../views/recruitment.html">Recruitment</a></li>
	            <li><p id="opennav">More</p></li>
	          </ul>
	        </div>
	        <div id="menudiv" class="fixedElement"><img src="../images/navClose.png" id="menu" class=""><img src="../images/navOpen.png" id="secondarymenu" class="hide"></div>
	      </div>
	    </header>

	    <section id="menuNav" class="hide">
	      <div>
	        <div id="closediv"><img src="../images/xButton.png" id="closenav"></div>
	        <button class="first-button"><a href="academics.html">Academics</a></button>
	        <button class=""><a href="philanthropy.html">Philanthropy</a></button>
	        <button class=""><a href="involvement.html">Involvement</a></button>
	        <button class=""><a href="intramurals.html">Intramurals</a></button>
	        <button class=""><a href="awards.html">Awards</a></button>
	        <button class=""><a href="contact.html">Contact Us</a></button>
	      </div>
	    </section>

		<section class="seeThroughSmall">
		</section>

		<section id="aboutus">
			<div id="aboutusnav">
				<h1>- ABOUT BETA -</h1>
				<p>Our national fraternity and our local chapter have a lot of rich history that has helped shape us into who we are today. From the founding of our national fraternity, to the founding of our chapter, we have made - and continue to make - strides to stay respectable and influential.</p>
				<h3>
					<span class="" id="ggHist">Gamma Gamma History</span>
					<span class="" id="btpHist">Beta Theta Pi History</span>
					<span class="" id="mopIn">Men of Principle Initiative</span>
				</h3>
			</div>
		</section>

		<section class="seeThroughSmall" id="gghistoryscroll">
		</section>

		<section class="aboutblock">
			<h2>Gamma Gamma History</h2>
			<div id="gghistory" class="aboutusinfo">
				<p>Starting in 1906, four men founded the local fraternity of Theta Mu Epsilon. Following in the footsteps of two other local fraternities, Theta Mu Epsilon became the Gamma Gamma Chapter of Beta Theta Pi in 1914.
				</br>
				Being the 3rd oldest fraternity on campus brought a lot of responsibility and a lot of new members. By 1925, an old professor's home that they used as a chapter house, became too small. The members raised money to build what is now our house. This new house held more than 70 men, and by the early 1940's the house was at full capacity; some even criticized Gamma Gamma for being too large of a chapter. 
				</br>
				Things changed drastically when World War II broke out. The men left to fight and there was no one to keep the doors of the house open. Instead the house was transformed into a field hospital and a nurse's dormitory called "Mary's House". 
				</br>
				Over the the last century, the men of Gamma Gamma Chapter have been an integral part of Beta in the Northwest. This chapter helped to recolonize Washington State and Eastern Washington University in the 1990's. While over 2,000 men have passed through our walls, our values have not changed. Stressing academics, responsible social bonds, and true brotherhood has kept our numbers high. We are still the largest fraternity on campus, with members being a very active part of the University community.</p>
				<div id="aboutarrowtop" class="push-down-arrow hide"><p>&#9660;</p></div>
			</div>
		</section>

		<section class="seeThroughSmall" id="btphistoryscroll">
		</section>

		<section class="aboutblock">
			<h2>Beta Theta Pi History</h2>
			<div id="btphistory" class="aboutusinfo">
				<p>Beta Theta Pi was founded on August 8, 1839 at Miami University in Oxford Ohio. At the time of its founding, Beta was the 7th oldest fraternity in the world, and the first fraternity founded west of the Allegheny Mountains. Currently, our national fraternity consists of 122 active chapters and colonies across the United States and in Canada. Over 190,000 members have been initiated worldwide, with approximately 135,000 living initiated members. There are currently more than 8,000 undergraduate members. Beta Theta Pi is one of three fraternities that form the Miami Triad along with Phi Delta Theta and Sigma Chi.
				</br>
				<h4 id="founderstext">Founders:</h4>
				John Reily Knox, 1939&emsp;&ensp;Taylor Marshall, 1940&emsp;&ensp;David Linten, 1939&emsp;&ensp;James George Smith, 1940&emsp;&ensp;Charles Henry Hardin, 1941
				</br>
				John Holt Duncan, 1940&emsp;&ensp;Michael Clarkson Ryan, 1939&emsp;&ensp;Thomas Boston Gordon, 1940
				</br>
				<h4 id="paterquote">"of ever honored memory"</h4></p>
				<div id="aboutarrowmiddle" class="push-down-arrow hide"><p>&#9660;</p></div>
			</div>
		</section>

		<section class="seeThroughSmall" id="mopinitiativescroll">
		</section>

		<section class="aboutblock">
			<h2>Men of Principle Initiative</h2>
			<div id="mopinitiative" class="aboutusinfo">
				<p>In the early-to-mid-1990s, The General Fraternity of Beta Theta Pi was struggling from all angles in terms of academics, recruitment, risk management, housing infrastructure, alumni involvement, institutional support and public relations. An alumni from St. Lawerence sent a letter challenging Beta’s leadership to be more active in the identification of Beta’s true mission and vision, and work aggressively toward actually implementing policies and programs to achieve both.
				</br>
				Since the start of Men of Principle, Beta Theta Pi has seen dramatic improvement in the areas of academics, risk management, chapter size, and volunteerism. Before Men of Principle, the Fraternity’s average chapter GPA was just above a 2.8. Today the Fraternity’s accumulative GPA has risen to a 3.21, the highest out of all fraternities.
				</br>
				Currently, the average chapter size is 90 men, a large increase compared to the average of 48 men in 1997. Furthermore, in 1998 there was an average of 2 advisors per chapter, whereas today, an average of 7 advisors work with a single one of the chapters, allowing us to stay on track with our goals and values much more effectively.</p>
			</div>
		</section>

		<section class="seeThroughSmall">
		</section>

		<footer id="footerdiv">
	      <div class="">
	        <ul>Idaho Beta Theta Pi
	          <li>727 Elm St - Moscow, ID 83843</li>
	          <li><a href="https://www.facebook.com/BetaThetaPiUniversityOfIdaho/">Facebook</a></li>
	          <li><a href="https://www.instagram.com/beta_idaho/">Instagram</a></li>
	          <li><a href="https://twitter.com/beta_idaho">Twitter</a></li>
	        </ul>
	      </div>
	      <div class="">
	        <ul>National Beta Theta Pi
	          <li><a href="https://beta.org/">www.beta.org</a></li>
	          <li><a href="https://www.facebook.com/betathetapi/">Facebook</a></li>
	          <li><a href="https://www.instagram.com/betathetapi/">Instagram</a></li>
	          <li><a href="https://twitter.com/BetaThetaPi">Twitter</a></li>
	        </ul>
	      </div>
	    </footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    	<script src="../js/index.js"></script>
    	<script src="../js/about.js"></script>

	</body>

</html>