<!DOCTYPE html>
<html lan="en">

	<head>

	    <meta charset="UTF-8">

	    <link rel="stylesheet" href="../css/reset.css" media="screen" type="text/css" />
	    <link rel="stylesheet" href="../css/style.css" media="screen" type="text/css" />
	    <link rel="stylesheet" href="../css/recruitment.css" media="screen" type="text/css" />

	    <title>Recruitment | Gamma Gamma</title>
	    <link rel="icon" href="../images/betacoat.png">

	    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">

	  </head>

	<body>

	    <header>
	      <a href="../index.html">
	        <div id="logodiv" class="fixedElement"><img src="../images/betacoat.png" id="logo"><h1 class="fixedElementHide hide">BETA THETA PI</br>GAMMA GAMMA</h1></div>
	      </a>
	      <div>
	        <div id="menuNavBar" class="fixedElement">
	          <ul>
	            <li><a href="../index.html">Home</a></li>
	            <li><a href="../views/meet.html">Meet Us</a></li>
	            <li><a href="../views/about.html">About Beta</a></li>
	            <li><p class="navcurrentpage">Recruitment</p></li>
	            <li><p id="opennav">More</p></li>
	          </ul>
	        </div>
	        <div id="menudiv" class="fixedElement"><img src="../images/navClose.png" id="menu" class=""><img src="../images/navOpen.png" id="secondarymenu" class="hide"></div>
	      </div>
	    </header>

	    <section id="menuNav" class="hide">
	      <div>
	        <div id="closediv"><img src="../images/xButton.png" id="closenav"></div>
	        <button class="first-button"><a href="academics.html">Academics</a></button>
	        <button class=""><a href="philanthropy.html">Philanthropy</a></button>
	        <button class=""><a href="involvement.html">Involvement</a></button>
	        <button class=""><a href="intramurals.html">Intramurals</a></button>
	        <button class=""><a href="awards.html">Awards</a></button>
	        <button class=""><a href="contact.html">Contact Us</a></button>
	      </div>
	    </section>

	    <section class="top-image">
	    </section>

	    <section id="imagerow">
	    	<img src="../images/recruitmentImages/pc17.png">
	    	<img src="../images/recruitmentImages/dadsweekend.png">
	    	<img src="../images/recruitmentImages/pc16.jpg">
	    	<img src="../images/recruitmentImages/rushchairs.jpg">
	    	<img src="../images/recruitmentImages/springfling2017.jpg">
	    	<img src="../images/aboutImages/betaidaho.jpg">
	    	<img src="../images/philanthropyImages/woodcut2017.jpg">
	    	<img src="../images/aboutImages/ww2.jpg">
	    	<img src="../images/meetImages/secretary.jpg">
	    	<img src="../images/betacovercrop.png">
	    </section>

	    <section id="rushinfo">
	    	<div class="rushcontainer" id="rushinterest">
	    		<img src="../images/recruitmentImages/pc17.png">
	    		<div>
	    			<h1>Interested in Rushing?</h1>
	    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis blandit magna. Curabitur varius est ac lobortis sagittis. Fusce vel vehicula neque. Proin quis pharetra tellus, at consequat erat erat.
	    			</br>
	    			Tis sagittis. Fusce vel vehicula neque. Proin quis pharetra tellus, at consequat erat. Sed et risus eget diam.
	    			</br></br>
	    			<a href="../views/meet.html" id="meetrushchairs">Meet our Rush Chairmen</a></p>
	    		</div>
	    	</div>
	    	<div class="rushcontainer" id="rushbeta">
	    		<img src="../images/recruitmentImages/pc16.jpg">
	    		<div>
	    			<h1>Rush Beta</h1>
	    			<p>Proin quis pharetra tellus, at consequat erat. Sed et risus eget diam euismod ullamcorper sit amet sed arcu. Fusce eget odio quis purus malesuada euismod. Integer at dolor at lorem maximus efficitur dolor at lorem.
	    			</br>
	    			Consectetur adipiscing elit. Nulla quis blandit magna. Curabitur varius est ac lobortis sagittis, consectetur.
	    			</br>
	    			Consectetur adipiscing elit. Nulla quis blandit magna. Curabitur varius est ac lobortis sagittis, consectetur.</p>
	    		</div>
	    	</div>
	    </section>

		<footer id="footerdiv">
	      <div class="">
	        <ul>Idaho Beta Theta Pi
	          <li>727 Elm St - Moscow, ID 83843</li>
	          <li><a href="https://www.facebook.com/BetaThetaPiUniversityOfIdaho/">Facebook</a></li>
	          <li><a href="https://www.instagram.com/beta_idaho/">Instagram</a></li>
	          <li><a href="https://twitter.com/beta_idaho">Twitter</a></li>
	        </ul>
	      </div>
	      <div class="">
	        <ul>National Beta Theta Pi
	          <li><a href="https://beta.org/">www.beta.org</a></li>
	          <li><a href="https://www.facebook.com/betathetapi/">Facebook</a></li>
	          <li><a href="https://www.instagram.com/betathetapi/">Instagram</a></li>
	          <li><a href="https://twitter.com/BetaThetaPi">Twitter</a></li>
	        </ul>
	      </div>
	    </footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    	<script src="../js/index.js"></script>
    	<script src="../js/recruitment.js"></script>

	</body>

</html>