<!DOCTYPE html>
<html lan="en">

	<head>

	    <meta charset="UTF-8">

	    <link rel="stylesheet" href="../css/reset.css" media="screen" type="text/css" />
	    <link rel="stylesheet" href="../css/style.css" media="screen" type="text/css" />
	    <link rel="stylesheet" href="../css/recruitment.css" media="screen" type="text/css" />

	    <title>Recruitment | Gamma Gamma</title>
	    <link rel="icon" href="../images/betacoat.png">

	    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">

	  </head>

	<body>

	    <header>
	      <a href="../index.html">
	        <div id="logodiv" class="fixedElement"><img src="../images/betacoat.png" id="logo"><h1 class="fixedElementHide hide">BETA THETA PI</br>GAMMA GAMMA</h1></div>
	      </a>
	      <div>
	        <div id="menuNavBar" class="fixedElement">
	          <ul>
	            <li><a href="../index.html">Home</a></li>
	            <li><a href="../views/meet.html">Meet Us</a></li>
	            <li><a href="../views/about.html">About Beta</a></li>
	            <li><p class="navcurrentpage">Recruitment</p></li>
	            <li><p id="opennav">More</p></li>
	          </ul>
	        </div>
	        <div id="menudiv" class="fixedElement"><img src="../images/navClose.png" id="menu" class=""><img src="../images/navOpen.png" id="secondarymenu" class="hide"></div>
	      </div>
	    </header>

	    <section id="menuNav" class="hide">
	      <div>
	        <div id="closediv"><img src="../images/xButton.png" id="closenav"></div>
	        <button class="first-button"><a href="academics.html">Academics</a></button>
	        <button class=""><a href="philanthropy.html">Philanthropy</a></button>
	        <button class=""><a href="involvement.html">Involvement</a></button>
	        <button class=""><a href="intramurals.html">Intramurals</a></button>
	        <button class=""><a href="awards.html">Awards</a></button>
	        <button class=""><a href="contact.html">Contact Us</a></button>
	      </div>
	    </section>

	    <section class="recruitment-surround">
	    </section>

	    <section id="rushbeta">
	    	<div>
	    		<h1>RUSH BETA</h1>
	    	</div>
	    </section>

	    <section id="rushinfo">
	    	<div>
	    		<h1>Last Year</h1>
	    		<p>In the fall of 2017, we welcomed 28 young men who will strive to do great things for our chapter, school, and community. They hail from a variety of places including Boise, Coeur d'Alene, Parma, and Caldwell. The chapter looks forward to molding them into Men of Principle as they progress through pledgeship and become initiated brothers.</p>
	    	</div>
	    	<div>
	    		<h1>This Year</h1>
	    		<p>This year will mark Beta Theta Pi's 104th year at the university and we plan to continue our work towards excellence. For the last century, our chapter has maintained a top spot in academic, athletic, and social life at the University of Idaho. We are the largest house on campus boasting 96 active members and countless dedicated alumni.</p>
	    	</div>
	    	<div>
	    		<h1>Next Year</h1>
	    		<p>For the upcoming spring semester, the chapter will be hosting rush prospects during both of the UIdaho Bound events. The dates for UIdaho Bound are March 24th and April 14th. Get to know us by requesting to stay at our beautiful home during those weekends. We look forward to meeting you in the coming months. The University of Idaho's rush process is continuously open, so potential new members are welcome to contact us at any time.</p>
	    	</div>
	    </section>

	    <section class="recruitment-surround fill-white">
	    	<span>If you would like a tour, or have any questions about our house and the rush process, please e-mail either of our rush chairmen</span>
	    </section>

		<footer id="footerdiv">
	      <div class="">
	        <ul>Idaho Beta Theta Pi
	          <li>727 Elm St - Moscow, ID 83843</li>
	          <li><a href="https://www.facebook.com/BetaThetaPiUniversityOfIdaho/">Facebook</a></li>
	          <li><a href="https://www.instagram.com/beta_idaho/">Instagram</a></li>
	          <li><a href="https://twitter.com/beta_idaho">Twitter</a></li>
	        </ul>
	      </div>
	      <div class="">
	        <ul>National Beta Theta Pi
	          <li><a href="https://beta.org/">www.beta.org</a></li>
	          <li><a href="https://www.facebook.com/betathetapi/">Facebook</a></li>
	          <li><a href="https://www.instagram.com/betathetapi/">Instagram</a></li>
	          <li><a href="https://twitter.com/BetaThetaPi">Twitter</a></li>
	        </ul>
	      </div>
	    </footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    	<script src="../js/index.js"></script>
    	<script src="../js/recruitment.js"></script>

	</body>

</html>