<!DOCTYPE html>
<html lan="en">

	<head>

	    <meta charset="UTF-8">

	    <link rel="stylesheet" href="../css/reset.css" media="screen" type="text/css" />
	    <link rel="stylesheet" href="../css/style.css" media="screen" type="text/css" />
	    <link rel="stylesheet" href="../css/recruitment.css" media="screen" type="text/css" />

	    <title>Recruitment | Gamma Gamma</title>
	    <link rel="icon" href="../images/betacoat.png">

	    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">

	  </head>

	<body>

	    <header>
	      <a href="../index.html">
	        <div id="logodiv" class="fixedElement"><img src="../images/betacoat.png" id="logo"><h1 class="fixedElementHide hide">BETA THETA PI</br>GAMMA GAMMA</h1></div>
	      </a>
	      <div id="menudiv" class="fixedElement"><img src="../images/stackMenu.png" id="menu"></div>
	    </header>

	    <section id="menuNav" class="hide">
	      <div>
	        <img src="../images/xButton.png" id="closenav">
	        <button class="row1"><a href="../index.html">Home</a></button>
	        <button class="row1"><a href="meet.html">Meet Us</a></button>
	        <button class="row1"><a href="about.html">About Us</a></button>
	        <div class="extraspace"></div>
	        <button class="row2 currentpage"><a href="#">Recruitment</a></button>
	        <button class="row2"><a href="academics.html">Academics</a></button>
	        <button class="row2"><a href="philanthropy.html">Philanthropy</a></button>
	        <div class="extraspace"></div>
	        <button class="row3"><a href="involvement.html">Involvement</a></button>
	        <button class="row3"><a href="intramurals.html">Intramurals</a></button>
	        <button class="row3"><a href="awards.html">Awards</a></button>
	      </div>
	    </section>

		<section>
			<p>RECRUITMENT PAGE BODY</p>
		</section>

		<footer id="footerdiv">
	      <div class="">
	        <ul>Idaho Beta Theta Pi
	          <li>727 Elm St - Moscow, ID 83843</li>
	          <li><a href="https://www.facebook.com/BetaThetaPiUniversityOfIdaho/">Facebook</a></li>
	          <li><a href="https://www.instagram.com/beta_idaho/">Instagram</a></li>
	          <li><a href="https://twitter.com/beta_idaho">Twitter</a></li>
	        </ul>
	      </div>
	      <div class="">
	        <ul>National Beta Theta Pi
	          <li><a href="https://beta.org/">www.beta.org</a></li>
	          <li><a href="https://www.facebook.com/betathetapi/">Facebook</a></li>
	          <li><a href="https://www.instagram.com/betathetapi/">Instagram</a></li>
	          <li><a href="https://twitter.com/BetaThetaPi">Twitter</a></li>
	        </ul>
	      </div>
	    </footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    	<script src="../js/index.js"></script>
    	<script src="../js/recruitment.js"></script>

	</body>

</html>